@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary:#82C5CC;
    --primary2:#0d6efd;
    --tengineer:#82C5CC;
    --cherryblossom: #FFA3CB;
    --tree: #916034;
    --penguin: #2EB2E8;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.2);
}

.gb-tngn {
    background-color: #2EB2E8;
}

.text-tengineer {
    color: #82C5CC;
}

.text-tree {
    color: #916034;
}

.text-penguin {
    color: #2EB2E8;
}

.text-cherryblossom {
    color: #FFA3CB;
}

.topicon i{
    width: 100%;
    height: 100%;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}



.sns-icons{
    display: flex;
    align-items: center;
    justify-content: center;

}

.sns-icons a {
    width: 45px;
    height: 45px;
    background-color: var(--penguin);
    border: 2px solid #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 10px;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}



.sns-icons a img{
    position: absolute;
    width: 20px;
    height: 20px;

    display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;

}

.sns-icons a:hover {
    color: var(--tengineer);
    background-color: var(--cherryblossom);
} 

.sns-icons a:hover img:nth-of-type(2){
    opacity: 0;
} 

.homeicon{
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
    padding: 0px 0;
    background-color: var(--tengineer);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 160px;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}


.navbar {
    background-color: var(--tengineer) !important;
}

.nav-effect{
    transition: all 0.35s ease;
    color: #fff;
}

.nav-effect:hover{
    transform: translateY(2px);
    color: var(--cherryblossom);
}

.navbar .nav-link{
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    padding-top: 16px;
}

.navbar .nav-link:hover{
    transition: all 0.35s ease;
    transform: translateY(2px);
    color: var(--cherryblossom) !important;
}

.navbar-nav button {
    border-radius: 10px;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
    .hero {
        background-size: cover !important;
    }
    .hero::after{
        background-color: rgba(39, 50, 72, 0.6);
    }
}
.hero {
    height: 90vh !important;
    background-image: url(./img/tengineer.png);
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(39, 50, 72, 0.8);
    z-index: -1;
}

.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    background-color: var(--penguin);
    border-radius: 100px;
    flex: none;
}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s ease;
    z-index: -1;
}

.service:hover h5,
.service:hover p{
    color: white;
}

.service:hover .iconbox {
    background-color: #fff;
    color: var(--cherryblossom);
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

/* feature section */


.col-img {
    background-image: url(./img/ar1.jpg);
    background-position: center;
    background-size: cover;  /* 画像の全部を収める事ができる */
    min-height: 500px;
}

.features-b {
    margin-bottom: 80px;
}

/* projects section */
.project {
    position: relative;
    overflow: hidden;
}



.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(37, 39, 71, 0.7);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4 ease;
    opacity: 0;
}

.project img{
    transition: all 0.4s ease;
}

.project:hover .overlay{
    opacity: 1;
}

.project:hover img{
    transform: scale(1.1);
}

/* team section */
.team-member img{
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}


.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
}

/* contact section */
form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.04);
}

/* footer section */
.footer-top {
    background-color: var(--dark);
    padding: 90px;
    padding-bottom: 90px;
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: #fff;
}

